[package]
name = "miden-cli"
version = "0.9.0"
description = "CLI binary application that facilitates interaction with the Miden rollup"
readme = "README.md"
documentation = "https://docs.rs/miden-cli/0.9.0"
categories = ["command-line-utilities"]
keywords = ["miden", "client", "cli"]
license.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true
edition.workspace = true

[[bin]]
name = "miden"
path = "src/main.rs"

[lints]
workspace = true

[features]
default = []
concurrent = ["miden-client/concurrent"]

[[test]]
name = "integration"
path = "src/tests.rs"
required-features = ["concurrent"]

[dev-dependencies]
assert_cmd = { version = "2.0" }
miden-client-tests = { path = "../../tests" }
predicates = { version = "3.0" }
uuid = { version = "1.10", features = ["serde", "v4"] }

[dependencies]
clap = { version = "4.5", features = ["derive"] }
comfy-table = { version = "7.1" }
figment = { version = "0.10", features = ["toml", "env"] }
miden-client = { version = "0.9", path = "../../crates/rust-client", features = ["sqlite", "tonic"] }
miden-lib = { workspace = true }
miden-objects = { workspace = true }
miette = { workspace = true }
rand = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
thiserror = { workspace = true }
tokio = { workspace = true }
toml = { version = "0.8" }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3" }

[build-dependencies]
miden-client = { version = "0.9", path = "../../crates/rust-client" }
miden-objects = { workspace = true }
miden-lib = { workspace = true }
