[profile.default]
retries = { backoff = "exponential", count = 2, delay = "1s", jitter = true, max-delay = "10s"}
status-level = "skip"
failure-output = "immediate-final"
fail-fast = false
slow-timeout = { period = "3m", terminate-after = 2}

[[profile.default.overrides]]
filter = "test(test_import_genesis_accounts_can_be_used_for_transactions)"
retries = 0
