[package]
name = "miden-client"
version = "0.4.0"
description = "Client library that facilitates interaction with the Miden rollup"
readme = "README.md"
documentation = "https://docs.rs/miden-client/0.4.0"
categories = ["no-std"]
keywords = ["miden", "client"]
license.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true
edition.workspace = true

[lib]
crate-type = ["lib"]

[features]
async = ["miden-tx/async"]
concurrent = ["miden-lib/concurrent", "miden-objects/concurrent", "miden-tx/concurrent", "std"]
default = ["std"]
idxdb = ["async", "dep:base64", "dep:serde-wasm-bindgen", "dep:wasm-bindgen", "dep:wasm-bindgen-futures"]
sqlite = ["dep:rusqlite", "dep:rusqlite_migration", "dep:lazy_static", "std"]
std = ["miden-objects/std"]
testing = ["miden-objects/testing", "miden-lib/testing"]
tonic = ["dep:hex", "dep:prost", "dep:tonic", "std", "tonic/transport"]
web-tonic = ["dep:hex", "dep:prost", "dep:tonic", "dep:tonic-web-wasm-client", "getrandom/js"]

[dependencies]
base64 = { version = "0.13", optional = true }
chrono = { version = "0.4", optional = false }
getrandom = { version = "0.2", features = ["js"], optional = true }
hex = { version = "0.4" , optional = true}
lazy_static = { version = "1.4", optional = true }
miden-lib = { version = "0.4", default-features = false }
miden-objects = { version = "0.4", default-features = false, features = ["serde"] }
miden-tx = { version = "0.4", default-features = false }
prost = { version = "0.12", optional = true, default-features = false, features = ["derive"] }
rand = { workspace = true }
rusqlite = { version = "0.30", features = ["vtab", "array", "bundled"], optional = true }
rusqlite_migration = { version = "1.0", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["raw_value"] }
serde-wasm-bindgen = { version = "0.6", optional = true }
thiserror = { version = "1.0", optional = true }
tokio = { workspace = true , optional = true }
tonic = { version = "0.11", default-features = false, optional = true, features = ["prost", "codegen"] }
tonic-web-wasm-client = { version = "0.5", optional = true, default-features = false }
tracing = { workspace = true }
wasm-bindgen = { version = "0.2", features = ["serde-serialize"], optional = true }
wasm-bindgen-futures = { version = "0.4", optional = true }
winter-maybe-async = "0.10.0"

[dev-dependencies]
miden-client = { path = ".", features = ["testing", "concurrent", "sqlite", "tonic", "tokio"]}
miden-lib = { version = "0.4", default-features = false, features = ["testing"] }
miden-objects = { version = "0.4", default-features = false, features = ["serde", "testing"] }
uuid = { version = "1.6", features = ["serde", "v4"] }

[build-dependencies]
miden-rpc-proto = { version = "0.4" }
miette = { version = "7.0", features = ["fancy"] }
prost = { version = "0.12", default-features = false, features = ["derive"] }
prost-build = { version = "0.12", default-features = false }
protox = { version = "0.6" }
tonic-build = { version = "0.11" }
