name: Lint
on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, repoened, synchronize]

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install Rust with clippy
        run: |
          rustup update --no-self-update 
          rustup component add clippy
      - name: make - clippy
        run: make clippy
  
  clippy-wasm:
    name: Clippy WASM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install Rust with clippy
        run: |
          rustup update --no-self-update 
          rustup target add wasm32-unknown-unknown
          rustup component add clippy
      - name: make - clippy-wasm
        run: make clippy-wasm

  format:
    name: format check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install Rust with rustfmt
        run: |
          rustup update --no-self-update nightly
          rustup +nightly component add rustfmt
      - name: Install prettier
        run: yarn install
      - name: make - format-check
        run: make format-check

  rustdocs:
    name: build rust documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Install Rust
        run: rustup update --no-self-update
      - name: make - doc
        run: make doc
